/* Here is your custom css styles. */
.bg-color {
    background: linear-gradient(to right top, #2c2828 0%,#9b9b9b  100%);
}

.text-color {
    color: #24292e !important;
}


.top-scroll .btn-floating {
    background: linear-gradient(to right bottom , #a5a5a5 0%,#2c2828  100%);
}

/* 首页按钮 */
.cover-btns a:hover {
    border: 1px solid #888;
    background-color: #bebebe;
    box-shadow: 0 14px 26px -12px rgba(138, 137, 137, 0.42), 0 4px 23px 0px rgba(82, 80, 80, 0.698), 0 8px 10px -5px rgba(146, 143, 144, 0.2);
}


.github-corner svg {
    color: #585757 !important
}
@-webkit-keyframes rainbow {
   
}

@keyframes rainbow {
   
}

/* 文章背景虚化 */
.post-cover:before, .post-cover:after{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: inherit;
    filter: blur(12px);
}
/* 首页标题动态效果 */
.bg-cover .title {
    transition: all 1.5s;
    animation: zoomIn 1.5s;
}
.bg-cover .title:hover {
    transform: scale(1.15,1.15);
}


