/**
 * @description 定义图标字体的引入和基础样式
 * @author JiangWen
 */

/**
 * 定义图标字体
 * @font-family: 字体名称
 * @font-display: 字体加载策略
 * @src: 字体文件的不同格式路径
 */
@font-face {
  font-family: 'iconfont';  /* Project id 4967940 */
  src: url('//at.alicdn.com/t/c/font_4967940_axqi4fhw79u.woff2?t=1751812600463') format('woff2'),
       url('//at.alicdn.com/t/c/font_4967940_axqi4fhw79u.woff?t=1751812600463') format('woff'),
       url('//at.alicdn.com/t/c/font_4967940_axqi4fhw79u.ttf?t=1751812600463') format('truetype');
}

/**
 * 定义图标基础样式
 * @display: 显示类型为块级元素
 * @width: 图标宽度
 * @height: 图标高度
 * @margin: 外边距
 * @fill: 填充颜色
 * @font-family: 字体名称
 * @font-size: 字体大小
 * @font-style: 字体样式
 * @-webkit-font-smoothing: 字体抗锯齿
 * @-moz-osx-font-smoothing: 字体抗锯齿
 */
.icon {
    display: block; // 以块级元素显示
    width: 1.5em; // 宽度为 1.5 个字体大小
    height: 1.5em; // 高度为 1.5 个字体大小
    margin: 0 auto; // 上下外边距为 0，左右外边距自动居中
    fill: currentColor; // 填充颜色为当前文本颜色
    font-family: 'iconfont' !important; // 使用 iconfont 字体
    font-size: inherit; // 继承父元素字体大小
    font-style: normal; // 正常字体样式
    -webkit-font-smoothing: antialiased; // WebKit 浏览器字体抗锯齿
    -moz-osx-font-smoothing: grayscale; // Firefox 浏览器字体抗锯齿
}

/**
 * 定义各个图标字符内容
 */
.icon-github:before {
    content: '\e600'; // GitHub 图标字符内容
}

.icon-email:before {
    content: '\e66f'; // 邮箱图标字符内容
}

.icon-blog:before {
    content: '\e63c'; // 博客园图标字符内容
}

.icon-terminal:before {
    content: '\e634'; // 笑脸图标字符内容
}

.icon-wechat:before {
    content: '\e64f'; // 微信图标字符内容
}