<% if (site.tags.length){ %>
    <div class="fade-in-down-animation">
        <div class="tagcloud-container">
            <div class="tagcloud-header">
                <h1 style="margin: 15px 5px; margin-bottom: 30px;"><%- __('tags') %></h1>
            </div>
            <div class="tagcloud-content">
              <ul class="tag-list" data-show-value="true">
                <% for (const tag of site.tags.data) { %>
                  <li><a data-weight="<%- tag.posts.length %>" href="/<%- tag.path %>"> <%- tag.name %></a></li>
                <%  }  %>
              </ul>
            </div>
        </div>
    </div>
<% } %>
<script>
  console.log(this.tagcloud)
</script>

<style>
.tag-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
.tag-list a {
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  opacity: var(--opacity);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
}
.tag-list a[data-weight] { --size: 10; }
.tag-list a[data-weight="1"] { --size: 1; }
.tag-list a[data-weight="2"] { --size: 2; }
.tag-list a[data-weight="3"] { --size: 4; }
.tag-list a[data-weight="4"] { --size: 6; }
.tag-list a[data-weight="5"] { --size: 8; }
.tag-list li:nth-child(n+1) a { --color: rgb(12, 171, 235); --opacity: 1 }
.tag-list li:nth-child(2n+1) a { --color: #181; --opacity: .9}
.tag-list li:nth-child(3n+1) a { --color: #33a; --opacity: .7}
.tag-list li:nth-child(4n+1) a { --color: #c38; --opacity: .4}

.tag-list[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 12px;
}
.tag-list a:focus {
  outline: 1px dashed;
} 
.tag-list a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

.tag-list a:focus::before,
.tag-list a:hover::before {
  width: 100%;
}
@media (prefers-reduced-motion) {
  .tag-list * {
    transition: none !important;
  }
}
</style>