<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
            Copyright ©  <a href="https://github.com/jiangwen5945" target="_blank">JiangWen</a> 2018  |  Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> 
        </div>
        <div class="col s12 m4 l4 social-link"><%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>
